/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
/* =============================================================================
  #FONTS
============================================================================= */
@font-face {
  font-family: 'Whitney Medium';
  font-style: normal;
  font-weight: 600;
  src: local('Whitney Medium'), url('../fonts/whitneymedium.woff') format('woff');
}

@font-face {
  font-family: 'Whitney Semibold Regular';
  font-style: normal;
  font-weight: 500;
  src: local('Whitney Semibold Regular'), url('../fonts/whitneysemibold.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Book Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Whitney Book Regular'), url('../fonts/whitneybook.woff') format('woff');
}

@font-face {
  font-family: 'Ginto Nord Black';
  font-style: normal;
  font-weight: 800;
  src: local('Ginto Nord Black'), url('../fonts/ABCGintoNord-Black-Trial.woff') format('woff');
}

@font-face {
  font-family: 'Ginto Nord Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Ginto Nord Bold'), url('../fonts/ABCGintoNord-Bold-Trial.woff') format('woff');
}

@font-face {
  font-family: 'Ginto Normal Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Ginto Normal Bold'), url('../fonts/ABCGintoNormal-Bold-Trial.woff') format('woff');
}

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
:root {
  --brand-color: #5865f2;
  --bright-brand-color: #404eed;
  --white: #FFFFFF;
  --not-quite-black: #23272a;
  --text-link: #00b0f4;
  --off-white: #f6f6f6;

  --mobile-padding: 0 24px;
  --mobile-padding-side: 24px;
  --section-spacing: 56px;

  --focus-border-color: #00b0f4;

  --font-title-heading: 'Ginto Nord Black', Helvetica, Arial, sans-serif;
  /* --ginto-nord-bold: 'Ginto Nord Bold', Helvetica, Arial, sans-serif; */
  --font-normal-heading: 'Ginto Normal Bold', Helvetica, Arial, sans-serif;

  --font-body: 'Whitney Medium', Helvetica, Arial, sans-serif;
  --font-body-bold: 'Whitney Semibold Regular', Helvetica, Arial, sans-serif;

  --page-max-width: 1260px;
  --page-gutter: 24px;
  --num-grid-columns: 4;
}

/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  font-style: normal;

  color: var(--not-quite-black);
  /* font-size: 16px; font-size: 1.6rem; */
  font-size: clamp(16px,2vw,20px);
  /* line-height: 1.4; */
  line-height: 26px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bright-brand-color);
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

.hide {
  display: none;
  opacity: 0;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  color: var(--not-quite-black);
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 24px; }

h1, .title-heading {
  font-weight: 900;

  font-family: var(--font-title-heading);
  line-height: 95%;
  text-transform: uppercase;
}

h1 { font-size: clamp(24px, 5vw, 44px); }
.title-heading { font-size: 20px; font-size: 2.0rem; }

h2 {
  font-family: var(--font-normal-heading);

  line-height: 120%;
  font-size: 20px; font-size: 2.0rem;
}

h3 {
  line-height: 120%;
  font-family: var(--font-normal-heading);
  font-size: clamp(18px,3vw,32px);
}

h4 {
  font-size: 32px; font-size: 3.2rem;
  font-family: var(--font-normal-heading);

  line-height: 120%;
}

h5 {
  color: var(--brand-color);
  font-size: 16px; font-size: 1.6rem;
}

p { line-height: 1.625; }

a {
  color: var(--white);
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus-border-color);
  border-radius: 4px;
}

strong { font-weight: 700; }

em, i { font-style: italic; }
ul { list-style: none; }
ol { list-style: decimal }

/* =============================================================================
  #GRID
============================================================================= */
.grid {
  display: grid;
  align-items: center;

  max-width: var(--page-max-width);
  grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  gap: 0 20px;

  padding: var(--section-spacing) var(--page-gutter);
}

/* =============================================================================
  #HEADER
============================================================================= */
header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white);
  background-color: var(--bright-brand-color);

  min-height: 626px;

  overflow: hidden;
  box-sizing: content-box;
}

  header h1 { color: var(--white); }

  /* #HEADER CONTENT */
  header > section {
    position: relative;
    z-index: 100;
  }

  header > nav, header > section {
    max-width: var(--page-max-width);
    box-sizing: border-box;
  }

    header > section > * { grid-column: span 4; }

    header > section > p { font-size: clamp(16px,2vw,20px); }

    /* HEADER PICTURE WRAPPER */
    header > picture img {
      display: block;

      width: 100%;
      max-width: 880px;

      margin-left: -80px;
    }

    header > picture img:first-of-type,
    header > picture img:last-of-type { display: none; }

    /* #DOWNLOAD PAGE HEADER */
    #download-page > header {
      min-height: auto;
      background-color: var(--not-quite-black);
    }

    #download-page header > section > div > p:first-of-type { line-height: 140%; }

    #download-page > header > section > picture { display: none; }

/* =============================================================================
  #NAV
============================================================================= */
header > nav {
  position: relative;

  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 100%;

  padding: var(--mobile-padding);
}

  /* #LOGO */
  .logo:focus { border-radius: 4px; }

    .logo > img {
      width: 124px;
      height: auto;
    }

  /* #HAMBURGER MENU */
  header > nav > button { order: 2; }

  /* #OPEN DISCORD BUTTON */
  header > nav > .btn {
    display: none;
    margin: 0;

    background-color: var(--white);
    color: var(--not-quite-black);
  }

  /* #DESKTOP NAV */
  header > nav > ul {
    display: none;

    flex-direction: row;
    align-items: center;
  }

  header > nav > ul li {
    font-size: 16px; font-size: 1.6rem;
    font-family: var(--font-body-bold);
  }

    header > nav > ul li a {
      margin: 10px;
      padding: 10px;
    }

    /* #ACTIVE LINK */
    .active {
      color: var(--text-link);
      background-color: var(--off-white);
    }

  /* #MOBILE NAV */
  nav > nav {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;

    padding: 24px;
    width: 330px;

    transform: translateX(100%);

    background-color: var(--white);

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    z-index: 9999;
    transition: transform .2s ease-in-out;
  }

  nav > nav.open { transform: translateX(0); }

  /* #OVERLAY */
  body::before {
    content: "";

    display: none;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.3);

    z-index: 999;
  }

  body.open::before { display: block; }

    /* #CLOSE ICON */
    nav > nav > button {
      position: absolute;
      top: 24px;
      right: 24px;

      z-index: 10000;
    }

      nav > nav > button > img {
        width: 24px;
        height: 24px;
      }

    nav > nav ul {
      margin-top: 24px;
      padding-top: 16px;
      border-top: 1px solid #ebedef;
    }

      nav > nav > ul li a {
        display: flex;
        align-items: center;

        padding: 8px 16px;

        border-radius: 8px;

        color: var(--not-quite-black);

        cursor: pointer;
      }

      nav > nav > ul li a:hover { text-decoration: underline; }

        /* ARROW ICON */
        nav > nav > ul li a > img {
          margin-top: 2px;
          transform: rotate(-90deg);
        }

/* =============================================================================
  #MAIN
============================================================================= */
main { background-color: var(--white); }

  main > section {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
  }

  main > section:nth-of-type(even),
  main > section:nth-of-type(even) + section:last-of-type {
    background-color: var(--off-white);
  }

  main > section:nth-of-type(4) > figure { padding-bottom: 80px; }

  main > section:nth-of-type(2) > .grid > figcaption { order: 1; }

    /* BRON: DISCORD.COM */
    /* #SECTION CONTENT WRAPPER */
    main > section > figure {
      opacity: 0;
      -webkit-transform: translateY(150px);
      transform: translateY(150px);
      -webkit-transition: opacity .6s .1s,-webkit-transform .6s ease;
      transition: opacity .6s .1s,-webkit-transform .6s ease;
      transition: opacity .6s .1s,transform .6s ease;
      transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;
    }

      main .grid > * { grid-column: span var(--num-grid-columns); }

      main > section > figure > figcaption { margin-top: 24px; }

      main > section > figure > img { margin-top: 24px; }

    /* #REVEAL ANIMATION */
    .visible {
      transform: translateY(0);
      opacity: 1;
    }

  /* #LAST SECTION */
  #home main > section:last-of-type {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 0 var(--page-gutter) var(--section-spacing) var(--page-gutter);
  }

    #home main > section:last-of-type h4 { padding-top: 30px; }

    /* #SPARKLES CONTAINER */
    #home main > section:last-of-type > picture {
      display: block;
      position: absolute;
      top: 0;

      width: 100%;

      text-align: center;
    }

    #home main > section:last-of-type .btn { margin-top: 40px; }

    /* #CARD CONTAINER */
    #download-page main > section > ul {
      grid-column: span var(--num-grid-columns);
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

      #download-page main > section > ul li {
        overflow: hidden;
        height: 363px;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 56px;
        color: var(--not-quite-black);

        grid-column: span 1;
        grid-row: span 2;
        background-color: var(--off-white);

        text-align: center;
      }

      #download-page main > section > ul li:last-of-type {
        padding: 48px 40px;
        border-radius: 0;
        text-align: left;
        height: auto;
      }

        #download-page main > section > ul li a {
          margin-top: 16px;
          display: inline-block;
          width: auto;
        }

        #download-page main > section > ul li figure > img {
          margin-top: 24px;
          width: 100%;
        }
/* =============================================================================
  #BUTTON
============================================================================= */
button {
  outline: none;
  border: none;
  outline: none;
  box-shadow: none;

  font-size: 16px; font-size: 1.6rem;

  margin: 0;
  padding: 0;

  background: none;

  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus-border-color);
  border-radius: 4px;
}

.btn {
  display: block;

  padding: 16px 32px;
  width: 100%;

  color: var(--white);

  text-align: center;
  font-family: var(--font-body-bold);
  font-size: 20px; font-size: 2.0rem;

  background-color: var(--brand-color);
  border-radius: 28px;
  border: none;

  outline: none;
  box-shadow: none;
  cursor: pointer;

  margin-top: 24px;

  /* BRON: DISCORD.COM */
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,box-shadow;
  transition-property: background-color,color,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.btn:hover, #download-page header > section > div > .btn:hover {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  background-color: hsl(235, 86.1%, 71.8%)!important;
}


.btn:focus { border-radius: 28px; }

header .btn {
  background-color: var(--white);
  color: var(--not-quite-black);
}

#home header .btn:hover, #download-page header > nav > .btn:hover {
  color: var(--brand-color);
  background-color: var(--white)!important;
}

#download-page > header > section .btn {
  background-color: var(--brand-color);
  color: var(--white);
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .btn--icon > img {
    margin-right: 8px;
  }

.btn--small {
  border-radius: 40px;
  font-size: 14px; font-size: 1.4rem;
  padding: 7px 16px;
}

/* DROPDOWN ARROW */
.btn--dropdown > img {
  margin-right: 0;
  margin-left: 8px;
  transform: rotate(90deg);
}

.btn--secondary, header .btn--secondary {
  background-color: var(--not-quite-black);
  color: var(--white);
}

.btn--secondary:hover, #home header .btn--secondary:hover {
  background-color: #36393f!important;
  color: var(--white);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

/* #BUTTON GROUP */
header > section > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;

  margin-top: 24px;

  gap: 24px;
}

  /* #DOWNLOAD DETAILS */
  header > section > div p {
    line-height: 24px;
    font-size: 16px; font-size: 1.6rem;
    text-align: center;
    width: 100%;
  }

  header > section > div .btn { margin-top: 0; }

  #download-page header > section > div p, #download-page header > section > div .btn {
    display: inline-block;
  }

  #home header > section > div .btn:last-of-type { display: none; }

/* =============================================================================
  #FOOTER
============================================================================= */
footer {
  display: flex;
  align-items: initial;
  flex-direction: column;

  padding-top: 80px;
  padding-bottom: 64px;

  color: var(--white);
  background-color: var(--not-quite-black);
}

  footer .title-heading {
    font-size: 32px; font: 3.2rem;
    color: var(--brand-color);
  }

  .grid--footer {
    max-width: var(--page-max-width);

    padding-top: 0;
    padding-bottom: 0;

    align-items: flex-start;
  }

    .spacer { display: none; }

    .grid--footer > section {
      grid-column: span 2;
      margin-bottom: 40px;
    }

      .grid--footer > section > ul li a {
        display: block;

        font-family: var(--font-body);
        font-size: 16px; font-size: 1.6rem;
        line-height: 24px;

        margin-top: 8px;
      }

      .grid--footer > section > ul li a:hover { text-decoration: underline; }

      .grid--footer > section:last-of-type > ul li a:hover { text-decoration: none; }

    /* #FOOTER HEADING */
    .grid--footer > section:first-of-type {
      grid-column: span 4;
      margin-bottom: 56px;
    }

      .grid--footer > section:first-of-type > footer {
        display: flex;
        align-items: center;
        flex-direction: row;

        margin-top: 24px;
        padding: 0;
      }

        .grid--footer > section:first-of-type > footer a {
          display: inline-block;
          height: auto;
        }

        .grid--footer > section:first-of-type > footer a + a { margin-left: 24px; }

    .grid--footer > section:last-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;

      grid-column: span var(--num-grid-columns);

      border-top: 1px solid var(--brand-color);
      padding-top: 32px;
      margin-bottom: 0;
    }

      .grid--footer > section:last-of-type > .btn {
        display: inline-block;

        width: auto!important;
        margin: 0;
      }
/* =============================================================================
  #MEDIAQUERIES
============================================================================= */
/* #SMALL */
@media only screen and (min-width: 638px) {
  .btn { width: auto; }
  #download-page header > .btn { width: 100%; }
}

/* #MEDIUM */
@media only screen and (min-width: 768px) {
  :root {
    --num-grid-columns: 8;
    --page-gutter: 40px;
    --section-spacing: 80px;
    --mobile-padding: 0 40px;
    --mobile-padding-side: 40px;
  }

  h1 { font-size: 56px; font-size: 5.6rem; }
  h2 { font-size: 48px; font-size: 4.8rem; }

  header h1 + p { margin-top: 40px; }

  .title-heading { font-size: clamp(20px,4vw,40px); }

  /* HEADER */
  header {
    min-height: 626px;
    overflow: hidden;
    padding-bottom: var(--section-spacing);
  }

    header > section > * { grid-column: span 5; }
    header> section > p { margin-bottom: 8px; }

    header > picture img:last-of-type {
      display: block;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      max-width: none;
      width: unset;
      margin-left: -1320px;
      z-index: 50;
    }

    header > picture > img:first-of-type {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
      width: auto;
    }

    header > picture > img:first-of-type,
    header > picture > img:nth-of-type(2) { z-index: 60; }
    header > picture > img:nth-of-type(2) { display: none; }

  #download-page header {
    min-height: auto;
    padding-bottom: 0;
  }

    #download-page header > section > * { grid-column: span 4; }

    #download-page header > section > picture {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }

      #download-page header > section > picture > img:first-of-type {
        display: block;

        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        max-width: unset;
      }

    #download-page header > section > div > p:first-of-type {
      margin-top: 40px;
      margin-bottom: 16px;
    }

  /* MAIN */
  main .grid > * { grid-column: span 4; }

  main .grid--wide > * {
    text-align: center;
    grid-column: span var(--num-grid-columns);
    width: 100%;
  }

    main > section > figure > figcaption { margin-top: 0; }
    main > section:nth-of-type(2) > figure > figcaption { order: -1; }

    #download-page main > .grid { margin: 0 auto; }

    #download-page main > section ul {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 156px auto 156px auto 156px;
    }

      #download-page main > section ul li { height: 600px; }

      /* PUSH DOWN */
      #download-page main > section ul li:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2/span 2;
      }

        #download-page main > section ul li > figure > img {
          margin-top: 64px;
          width: auto;
          max-width: unset;
        }

    #home main > section:last-of-type { text-align: center; }

      #home main > section:last-of-type {
        padding-bottom: var(--section-spacing);
      }

        #home main > section:last-of-type > picture { width: 70%; }

  /* BUTTONS */
  .btn, #download-page .btn { width: auto; }
  header > section > div { margin-top: 24px; }
  #download-page header > section > div { margin-top: calc(16px + 24px); }

  header > section > div p {
    text-align: left;
    width: auto;
  }

  /* FOOTER */
  footer { align-items: center; }

    .grid--footer { margin: 0 auto; }

      .grid--footer > section:first-of-type {
        grid-column: span 3;
        grid-row-end: span 2;
      }

      /* push content to right */
      .spacer {
        grid-column: span 1;
        grid-row-end: span 2;
        display: block;
      }
}

/* #LARGE */
@media only screen and (min-width: 1024px) {
  :root {
    --num-grid-columns: 12;
    --section-spacing: 120px;
  }

  header { padding-bottom: 0; }

    header > nav {
      justify-content: flex-start;
      z-index: 500;
    }

      header > nav > ul {
        display: flex;
        margin: 0 auto;
      }

        header > nav > ul li a:hover { text-decoration: underline; }

      header > nav > button { display: none; }

      header > nav > .btn { display: block; }

    /* #HEADER CONTENT */
    header > .grid > * {
      grid-column: 3/span 8;
      text-align: center;
    }

    header > .grid > p { margin-bottom: 6px; }

    /* BUTTON GROUP */
    header > section > div {
      grid-column: span var(--num-grid-columns)!important;
      margin: 24px auto 0px auto;
    }

    #home header > section > div .btn:last-of-type { display: block; }

    header > picture img:last-of-type { margin-left: -1280px; }

    header > picture > img:first-of-type { margin-left: 370px; }

    header > picture > img:nth-of-type(2) {
      display: block;

      position: absolute;
      bottom: 0;
      left: 50%;

      height: auto;
      width: auto;
      max-width: none;
      margin-left: -1030px;
    }

  #download-page header > section > div {
    text-align: left;
    grid-column: span 6;
  }

  #download-page header > section > picture { grid-column: 7/span 6; }

  #download-page header > section > div .btn,
  #download-page header > section > div p { display: inline-block; }

  /* MOBILE NAV */
  nav > nav { display: none; }

  /* MAIN */
  main > section:first-of-type .grid > figcaption {
    grid-column: 9/span 4;
    order: 2;
  }

  main > section > .grid > img {
    margin-top: auto;
    margin-bottom: auto;
  }

  main > section:first-of-type .grid > img { grid-column: span 7; }

  main > section:nth-of-type(2) .grid > figcaption { grid-column: 1/span 4; }

  main > section:nth-of-type(2) .grid > img {
    grid-column: 6/span 7;
    order: 2;
  }

  main > section:nth-of-type(3) .grid > img { grid-column: span 7; }
  main > section:nth-of-type(3) .grid > figcaption { grid-column: 9/span 4; }

  #home main > section:last-of-type > picture { width: 55%; }
}

@media only screen and (min-width: 1440px) {
  #home main > section:last-of-type > picture { width: 40%; }
}
